table{
    border-collapse: collapse;
    text-align: center;
}

table th{
    border: medium solid black; 
    text-align: center; 
    background-color: #CCCCCC;
}

table td{
    border: medium solid black; 
    text-align: center;
}

table td a{
    text-decoration: none;
    color: black;
}

table>a:hover{
    text-decoration: none;
    color: black;
}

table>a::after{
    text-decoration: none;
    color: black;
}

.error {
    color: red;
}

.white{
    border: medium solid black; 
    text-align: center;
    background-color: white;
}