table {
    border-collapse: collapse;
}

.numero {
    border-right-style: solid;
    text-align: center;
    width: 20px;
}

.factor {
    text-align: center;
    width: 10px;
}

.last {
    border-right-style: solid;
    text-align: center;
    width: 20px;
}