table{
    border-collapse: collapse;
}

table th{
    border: medium solid black; 
    text-align: center; 
    background-color: #CCCCCC;
}

.nada{
    border: medium solid black; 
    text-align: center;
}

.color1{
    border: medium solid black; 
    text-align: center; 
    background-color: red;
}

.color2{
    border: medium solid black; 
    text-align: center; 
    background-color: blue;
}

.color3{
    border: medium solid black; 
    text-align: center; 
    background-color: green;
}

.color4{
    border: medium solid black; 
    text-align: center; 
    background-color: yellow;
}

.color5{
    border: medium solid black; 
    text-align: center; 
    background-color: orange;
}

.color6{
    border: medium solid black; 
    text-align: center; 
    background-color: purple;
}

.color7{
    border: medium solid black; 
    text-align: center; 
    background-color: coral;
}

.color8{
    border: medium solid black; 
    text-align: center; 
    background-color: crimson;
}

.color9{
    border: medium solid black; 
    text-align: center; 
    background-color: yellowgreen;
}

.color10{
    border: medium solid black; 
    text-align: center; 
    background-color: aquamarine;
}

.color11{
    border: medium solid black; 
    text-align: center; 
    background-color: white;
}